.link-button {
    outline: 2px solid;
    outline-offset: 2px;
    text-decoration: none;
}

.container {
    display: grid !important;
    grid-template-columns: 50% 50%;
}

.split-img {
     /* object-fit: cover;
    height: 100vh; 
    width: auto; 
    width: 100%;  */

    width:100%;
    height:100vh;
    object-fit: cover;
    overflow: hidden;
}

.split-text {
    padding-top: 35vh;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 10vh;
    gap: 3vh;
}