body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-size: 5em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

#section1 {
  color: #fff;
}

.fp-section {
  text-align: center;
}

button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border-color: transparent;
  display: block;
  color: #fff;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.85em;
}

.actions {
  list-style-type: none;
}
.actions button {
  padding: 0.93em 1.87em;
  background: #35495e;
  border-radius: 5px;
  border: 0;
  color: #fff;
  margin: 7px;
  font-size: 15px;
  cursor: pointer;
  display: inline-block;
}
.actions button:hover {
  background: #fff;
  color: #35495e;
}

.logo {
  width: 50px;
}

.arrow {
  cursor: pointer;
  bottom: 4em;
  left: 0;
  right: -2em;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: flex;
  transform: rotate(90deg);
}

.arrow span {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: block;
  width: 2em;
  height: 2em;
  border-bottom: 5px solid gray;
  border-right: 5px solid gray;
  transform: rotate(45deg);
  animation: animate-arrow 2.5s infinite;
}

.arrow span:nth-child(1) {
  right: 3em;
}

.arrow span:nth-child(2) {
  animation-delay: -0.2s;
  right: 1.5em;
}

.arrow span:nth-child(3) {
  right: 0em;
  animation-delay: -0.4s;
}

@keyframes animate-arrow {
  0% {
      opacity: 0;
      transform: rotate(-45deg) translate(-20px, -20px);
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
      transform: rotate(-45deg) translate(20px, 20px);
  }
}