.landing-container {
    background-image: linear-gradient(rgb(0 0 0 / 60%), rgb(0 0 0 / 30%)), url('https://ipfs-3speak.b-cdn.net/ipfs/QmbBW6L2NUbAnRvnGR3WBiTb7Eu8aCsi4nCsV36kjSaA6x');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.footer {

}

.wrapup-container {
    display: grid;
    height: 100%;
}

.arrow-down {
    filter: invert(25%) blur(0.5px) opacity(0.5);
    width: 7em;
    bottom: 0.3em;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}