.landing-container {
    background-image: url('https://ipfs-3speak.b-cdn.net/ipfs/QmbBW6L2NUbAnRvnGR3WBiTb7Eu8aCsi4nCsV36kjSaA6x');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

